<h1> Edit <%=@workout.name%> Workout </h1>

<%= form_for @workout do |f| %>

Edit Workout Name: <%= f.text_field :name %>
<br>
<h4> Edit the Exercises in this Workout? </h4>
  <%=f.fields_for :workout_exercises do |we| %>
    <li>
    Change Exercise: <%= we.collection_select(:exercise_id, Exercise.all, :id, :name)%>
    Edit Rep Count: <%= we.number_field :reps, min: 1, max:100%>
    Edit Set Count: <%= we.number_field :sets, min: 1, max:100%>
    <%=link_to "Delete this Workout Exercise?", workout_exercise_path(we.object.id), method: :delete, :confirm => "You Sure?" %>
    <% end %>
  </li>
  <br>
<%=f.submit "Update Workout" %>
<% end %>

<h4>Or add more Exercises to this Workout</h4>
<%=link_to "Create a New Workout Exercise", new_workout_workout_exercise_path(@workout.id)%>
