<h1> Create a Workout </h1>
<% if flash[:message].present? %>
  <% flash[:message].each do |f| %>
    <p style="color:red"><%= f %></p>
    <% end %>
<% end %>

<%= form_for @workout, controller: 'workouts', action: 'create' do |f| %>
Name: <%=f.text_field :name %> <br>
Workout Exercises:
<ol>
<%=f.fields_for :workout_exercises do |we| %>
  <li><%= we.collection_select(:exercise_id, Exercise.all, :id, :name,{include_blank: 'Select an Exercise to add to Your Workout'})%>
  Rep Count: <%= we.text_field :reps %>
  Set Count: <%= we.text_field :sets %>
</li>
  <br>
<% end %>
</ol>
<%= f.submit "Create Workout" %>
<%end%>
