<h1> Create a Workout </h1>
<%= render partial: 'layouts/errors', locals: {object: @workout} %>

<%= form_for @workout, controller: 'workouts', action: 'create' do |f| %>
Name: <%=f.text_field :name %> <br>
Workout Exercises:
<ol>
<%=f.fields_for :workout_exercises do |we| %>
  <li><%= we.collection_select(:exercise_id, Exercise.all, :id, :name,{include_blank: 'Select an Exercise to add to Your Workout'})%>
  Rep Count: <%= we.number_field :reps, min: 1, max:100 %>
  Set Count: <%= we.number_field :sets, min: 1, max:100%>
</li>
  <br>
<% end %>
</ol>
<%= f.submit "Create Workout" %>
<%end%>
