<h1><%= @workout.name%></h1>

<h4>Workout Exercises</h4>
<ol>
  <% @workout.workout_exercises.each do |we| %>
    <li> Name:  <%= we.exercise.name %>
      <ul>
         <li>Reps:<%= we.reps %></li>
          <li>Sets: <%= we.sets %> </li>
          </ul>
        <% end %>
      </li>
</ol>

<h4> Workout Categories </h4>
<%@workout.workout_categories.each do |category|%>
  <li><%=category%> </li>
<%end%>

<br>
<h4> Muscle Groups Hit </h4>
<% @workout.workout_muscle_groups.each do |group| %>
  <li><%=link_to "#{group.name}", muscle_group_exercises_path(group.id)%></li>
<%end%>
<br>
<h4> Exercises </h4>
<% @workout.distinct_exercises.each do |group| %>
  <li><%=link_to "#{group.name}", exercise_path(group.id)%></li>
<%end%>

<br>
<% if current_user.id == @workout.user_id %>
  <%=link_to "Edit #{@workout.name}?", edit_workout_path(@workout)%>
<% end %>
<br>

<% if current_user.id == @workout.user_id %>
<%= link_to "Delete #{@workout.name}?", workout_path, method: :delete %>
<% end %>
