<h1><%= @workout.name%></h1>

<ol>
  <% @workout.workout_exercises.each do |we| %>
    <li> Name:  <%= we.exercise.name %>
         <p> Reps:<%= we.reps %>, </p>
         <p> Sets: <%= we.sets %>  </p>
        <% end %>
      </li>
</ol>
<% if current_user.id == @workout.user_id %>
  <%=link_to "Edit #{@workout.name}?", edit_workout_path(@workout)%>
<% end %>

<div>
  <p> notes </p>
  <p> add comments to show workout view </p>

  </div>
