<h1> Sign Up! </h1>
<%= render partial: 'layouts/errors', locals: {object: @user} %>

<%= form_for @user, url: signup_path, method: :post do |f| %>

Name <%= f.text_field :name %> <br>
Email <%= f.text_field :email %> <br>
Password <%= f.password_field :password %><br><br>

<%= f.submit "Sign Up" %>
<%end%>

<% if @user.errors[:email].first == "has already been taken"%>
<p> You already have an account</p>
<%= link_to(controller: 'session', action: 'new', method: "new"){'Log In'}%>
<% end%>
