<h1> Welcome <%=@user.name%>! </h1>
<div>
  <% if flash[:message].present? %>
    <%= flash[:message] %>
    <% end %>
  </div>

<div>
<% if current_user.exercises.count == 0 %>
  <p> It looks like you haven't created any exercises yet. <%=link_to "Why don't you create one?", new_exercise_path%></p>
  <% else %>
  <h4>Your Exercises</h4>
  <% Exercise.all.alpha_order.each do |e| %>
      <% if e.user_id == current_user.id %>
        <li><%=link_to "#{e.name}", exercise_path(e) %></li>
        <%end%>
      <% end %> <br>

      <%=link_to "Create Another Exercise?", new_exercise_path%>
<% end %>
</div>
<div>
<% if current_user.workouts.count == 0 %> <!-- %=create class method to simplify workout.count logic % -->
  <p> You haven't created any workouts yet. <%=link_to "Create one here", new_workout_path%> </p>
<% else %>
  <h4> Your Workouts </h4>
  <% Workout.all.alpha_order.each do |w| %>
    <% if w.user_id == current_user.id %>
      <li><%=link_to "#{w.name}", workout_path(w)%></li>
      <%end%>
    <%end%>
    <br>
    <%=link_to "Create Another Workout?", new_workout_path%>
  <%end%>
</div>
