<h1>Create an Exercise</h1>
<div>
<% if flash[:message].present? %>
  <% flash[:message].each do |f| %>
    <p style="color:red"><%= f %></p>
    <% end %>
<% end %>
<div>
  
<%=form_for @exercise, controller: 'exercises', action: 'create' do |f| %>
Name: <%=f.text_field :name %> <br>
Category:
  <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: 'Select a Category'})%>
<br>

MuscleGroup:
  <%= f.collection_select(:muscle_group_id, MuscleGroup.all, :id, :name, {include_blank: 'Select a MuscleGroup'}) %>
  <br>
Share With Others?: <%= f.check_box :private %> <br>
<%= f.submit "Create Exercise" %>
<% end %>
