<h1><%=@exercise.name%></h1>

Exercise Category: <%=@exercise.category.name%> <br>
Muscle Group: <%=@exercise.muscle_group.name%> <br>

<% if current_user.id == @exercise.user_id%>
  <p>This exercise was created by you! </p>
<% else %>
  <p>This exercise was created by <%=@exercise.user.name%> </p>

<% end %>
<h2><%=@exercise.distinct_workouts.count%> Workouts Feature this Exercise </h2>
<% @exercise.distinct_workouts.each do |w| %>
  <li><%= link_to w.name, workout_path(w) %></li>
<% end %>

<br>

<%=link_to "Create An Exercise?", new_exercise_path%>
