<!DOCTYPE html>
<html>
  <head>
    <title>FlatironRailsFinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <%if current_user%>
      <%= link_to "Your Profile", user_path(current_user)%>
      <%= link_to "Workouts", workouts_path %>
      <%= link_to "Exercises", exercises_path %>
      <%= link_to "Muscle Groups", muscle_groups_path %>
      <%= link_to "Who is Swoliest?", users_swoliest_path %>
      <%= link_to "Log Out", logout_path, method: :delete %>
    <% end %>

  </div>

  <body>

    <div>
        <% if flash[:message].present? %>
          <% if flash[:message].is_a?(Array) %>
            <% flash[:message].each do |f| %>
              <p style="color:red"><%= f %> </p>
          <% end %>
        <% else %>
          <p style="color:red"> <%= flash[:message] %> </p>
          <% end %>
        <% end %>
      </div>

    <%= yield %>
  </body>
</html>
